@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');/*Rubik*/

h1
{
    text-align: center;
}

td, th{
    border: 3px black solid;
    padding: 7px;
}
body
{
    background-color: darkkhaki;
   font-family: 'Rubik', sans-serif;
}

table
{
    margin-top: 50px;
    border: 5px black solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

input[type = "button"]:hover
{
   cursor: pointer;
   background-color: cornflowerblue;
}

input
{
   font-family: 'Rubik', sans-serif;
}
table tr:nth-child(2n+1)
{
    background-color: lightsalmon;
}
table tr:nth-child(2n)
{
    background-color: slategray;
}

.statusMessage
{
    text-align: center;
    margin-top: 5px;
    text-decoration-line: underline;
}
.updateDiv
{
    text-align: center;
    margin-top: 5px;
    color: green;
    font-weight: bold;
}

.userInputDiv
{
    text-align: center;
    border: 2px black solid;
    padding: 8px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15px;
    font-weight: bold;
    background: linear-gradient(45deg, coral, aquamarine);
}

.userInputDiv input
{
    margin-top: 2px;
}