*
{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
}
.container
{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.submit
{
    background: coral;
}