body{
    background-color: aliceblue;
}
#idContainer{
    width: 1000px;
    /* border: 1px solid black; */
    margin: 0px auto;
    background-color: aliceblue;
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: orangered;
    text-decoration: none;
}

#idHeader{
    height: 100px;
}

#idBrand{
    float: left;
}

#idSearchBox{
    float: right;
    background: linear-gradient(salmon, chartreuse);
    width: 400px;
    height: 50px;
    padding: 10px 10px 0px 10px;
    margin-top: 20px;
    margin-right: 20px;
}

.text{
    float: left;
    width: 200px;
    padding: 3px;
    color: crimson;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px black solid;
    border-radius: 5px;
    background: seashell url(images/2oNq0a-LogoMakr.png) no-repeat right center;
}

.submit{
    float: right;
    font-weight: bolder;
    padding: 5px;
    width: 115px;
    border-radius: 5px;
    background-color: sienna;
    color: whitesmoke;
}

input[type = "submit"]:hover
{
    cursor: pointer;
    font-size: 14px;
    border: 1px whitesmoke groove;
}

#idMenu ul{
    list-style: none;
    padding: 0px 100px;
}

#idMenu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: chocolate;
    text-transform: uppercase;
    line-height: 25px;
    transition: font-size 0.3s ease; /*global*/
    -webkit-transition: font-size 0.3s ease;/*safari*/
    -moz-transition: font-size 0.3s ease;/*mozzila firefox*/
    -o-transition: font-size 0.3s ease;/*opera*/
    -ms-transition: font-size 0.3s ease;/*internet explorer*/
}

#idMenu ul li a:hover{
    font-size: 22px;
    font-weight: bold;
    color: crimson;
}
    
#idMenu{
    border: 1px solid black;
    background: linear-gradient(aqua, khaki);
    height: 60px;
    text-align: center;
}

#idMenu ul li{
    float: left;
    padding: 0px 12px;
    border-right: 2px solid black;
    height: 25px;
}

/*to remove the border right from the last child*/
#idMenu ul li:last-child
{
    border-right: 0px;
}

#idIntroBox
{
    border: 1px solid  black;
    padding: 30px 20px;
    margin: 40px;
    background: chocolate;
    border-radius: 15px;
}

#idIntroBox p
{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
    
.sidebar
{
    height: 400px;
    width: 380px;
    border: 1px solid brown;
    border-radius: 20px;
    margin: 25px 45px;
    background: repeating-linear-gradient(45deg, cornflowerblue, black);
    background: -webkit-repeating-linear-gradient(45deg, cornflowerblue, black);
    background: -moz-repeating-linear-gradient(45deg, cornflowerblue, black);
    background: -o-repeating-linear-gradient(45deg, cornflowerblue, black);
    color:whitesmoke;
    outline: 5px ridge cornflowerblue;
}

#idLeftSideBar
{
    float: left;
}

#idLeftSideBar h2
{
    font-size: 36px;
    color: dodgerblue;
    padding-left: 15px;
}

#idLeftSideBar ul li
{
    list-style-type: none;
    background: url(images/link-icon.png) no-repeat left center;
}

#idLeftSideBar ul li a
{
    font-size: 22px;
    text-decoration: none;
    color:whitesmoke;
    padding: 35px
}

#idLeftSideBar ul li a:hover
{
    font-size: 26px;
}

#idRightSideBar
{
    float:right;
}

#idRightSideBar h2
{
    font-size: 36px;
    padding-left: 15px;
    color: dodgerblue;
}

#idRightSideBar ul li
{
    font-size: 22px;
    color:whitesmoke;
    list-style-type: none;
    background: url(images/tick-LogoMakr.png) no-repeat left center;
    padding-left: 28px;
    margin-top: 10px;
}

#idRightSideBar ul li:hover
{
    cursor: auto;
}

/*when the elements above are floating*/
.clear{
    clear: both;
}

.footer
{
    height: 50px;
    height: 60px;
    background: linear-gradient(to left,  coral, blueviolet);
    background: -moz-linear-gradient(to left,  coral, blueviolet);
    background: -o-linear-gradient(to left,  coral, blueviolet);
    background: -webkit-linear-gradient(to left,  coral, blueviolet);
    /* font-size: 20px; */
    text-align: center;
    padding: 5px;
    color: antiquewhite;
    font-size: 22px;
    font-weight: bold;
    font-family: math;
}