@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body
{
    background-color: mediumaquamarine;
    font-family: 'Rubik', sans-serif;
}
input
{
    font-family: 'Rubik', sans-serif;
}

h1
{
    text-align: center;
    padding: 15px;
    background-color: coral;
    margin-top: 25px;
    border-radius: 10px;
}

.divLinks
{
    border: 2px brown solid;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}
.statusDiv
{
    text-align: center;
    font-size: larger;
    margin-top: 8px;
}

a{
    font-size: xx-large;
}

.userManage
{
    grid-column: 1/2;
    grid-row: 1/2;
}

.roleManage
{
    grid-column: 1/2;
    grid-row: 2/3;
}

.messageManage
{
    grid-column: 2/3;
    grid-row: 1/2;
}
form{
    grid-column: 1/3;
    grid-row: 4/5;
}
.logoutBtn
{
    width: 80%;
    border-radius: 5px;
    padding: 3px;
    font-size: large;
}
.logoutBtn:hover
{
background-color: lightcoral;
cursor: pointer;
}